nb-card {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 992px) {
  .ml-left {
    margin-left: 2rem !important;
  }
}

.min-height-30rem {
  min-height: 30rem;
}

em { float:right; color:text-danger(); padding-left:10px; }

.no-border-b {
  border-bottom: none !important;
}
