.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #332e73;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #7659ff;
  background: #7659ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #7659ff;
  background: #7659ff;
  cursor: pointer;
}

.slider-hero {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #332e73;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-hero::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ad59ff, #7659ff);
  cursor: pointer;
}

.slider-hero::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ad59ff, #7659ff);
  cursor: pointer;
}

.slider-hero-thin {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 5px;
  background: #332e73;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-hero-thin::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ad59ff, #7659ff);
  cursor: pointer;
}

.slider-hero-thin::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ad59ff, #7659ff);
  cursor: pointer;
}
/*
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>
 */
